﻿@{
    ViewData["Title"] = "Crusader";
}



<h2>@ViewData["Title"]</h2>

<h3><span class="strength">Strength</span>, <span class="willpower">Willpower</span></h3>

<hr />


<div class="row">
    <div class="col-md-6">
        <p>
            <blockquote>
                An unfettered Crusader can use any weapon as well as Strength and Willpower to outlast their enemy with magic and might.
            </blockquote>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>

    </div>

    <div class="col-md-6">
        <img src="~/images/classes/crusader.jpg" class="img-responsive" />
    </div>

</div>


