﻿@{
    ViewData["Title"] = "Argonian";
}

<h2 class="">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            <blockquote>
                The Argonians of Black Marsh are possessed of a cool intellect and are well-versed in stealth and the use of blades. They often act as the scouts and skirmishers.
            </blockquote>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>
    </div>

    <div class="col-md-6">
        <img src="~/images/races/argonian.jpg" class="img-responsive" />
    </div>
</div>

