﻿@{
    ViewData["Title"] = "Races of Elder Scrolls Legends";
}

<h2 class="">@ViewData["Title"]</h2>


<div class="row">
    <div class="col-md-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-1">
        @*empty*@
    </div>
    <div class="col-md-2 col-sm-6">
        <a asp-action="Argonian" asp-controller="Races">
            <h4 class="text-center">Argonian</h4>
            <img src="~/images/races/argonian.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="Breton" asp-controller="Races">
            <h4 class="text-center">Breton</h4>
            <img src="~/images/races/breton.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="Dark-Elf" asp-controller="Races">
            <h4 class="text-center">Dark Elf (Dunmer)</h4>
            <img src="~/images/races/darkElf.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="High-Elf" asp-controller="Races">
            <h4 class="text-center">High Elf (Altmer)</h4>
            <img src="~/images/races/highElf.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="Imperial" asp-controller="Races">
            <h4 class="text-center">Imperial</h4>
            <img src="~/images/races/imperial.jpg" class="img-responsive" />
        </a>
    </div>
    <div class="col-md-1">
        @*empty*@
    </div>
</div>


<br />

<div class="row">
    <div class="col-md-1">
        @*empty*@
    </div>
    <div class="col-md-2 col-sm-6">
        <a asp-action="Khajiit" asp-controller="Races">
            <h4 class="text-center">Khajiit</h4>
            <img src="~/images/races/khajiit.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="Nord" asp-controller="Races">
            <h4 class="text-center">Nord</h4>
            <img src="~/images/races/nord.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="Orc" asp-controller="Races">
            <h4 class="text-center">Orc</h4>
            <img src="~/images/races/orc.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="Redguard" asp-controller="Races">
            <h4 class="text-center">Redguard</h4>
            <img src="~/images/races/redguard.jpg" class="img-responsive" />
        </a>
    </div>

    <div class="col-md-2 col-sm-6">
        <a asp-action="Wood-Elf" asp-controller="Races">
            <h4 class="text-center">Wood Elf (Bosmer)</h4>
            <img src="~/images/races/woodElf.jpg" class="img-responsive" />
        </a>
    </div>



    <div class="col-md-1">
        @*empty*@
    </div>
</div>

