﻿@model ElderScrollsLegendsDB.ViewModels.DeckViewModel

@{
    ViewData["Title"] = Model.DeckName;
}

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">

            <h2 class="">@ViewData["Title"]</h2>

            <table class="table table-condensed table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortByName }) </th>
                        <th class="text-center">Image</th>
                        <th class="text-center">@Html.ActionLink("Attribute Type", "Index", new { sortOrder = ViewBag.SortByAttributeType })</th>
                        <th class="text-center">@Html.ActionLink("Card Type", "Index", new { sortOrder = ViewBag.SortByCardType })</th>
                        <th class="text-center">@Html.ActionLink("Mana Cost", "Index", new { sortOrder = ViewBag.SortByManaCost })</th>
                        <th class="text-center">@Html.ActionLink("Attack", "Index", new { sortOrder = ViewBag.SortByAttack })</th>
                        <th class="text-center">@Html.ActionLink("Defense", "Index", new { sortOrder = ViewBag.SortByDefense })</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">@Html.ActionLink("Rarity", "Index", new { sortOrder = ViewBag.SortByRarityType })</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var card in Model.Cards)
                    {
                        //should probably use @Html.Helper for all of these
                        //eg: instead of @card.CardName   use
                        //@Html.DisplayFor(modelItem => card.CardName)
                        <tr class="text-center">
                            <td><a asp-controller="Cards" asp-action="Details" asp-route-id="@card.CardID">@card.CardName</a></td>
                            <td>
                                <a asp-controller="Cards" asp-action="Details" asp-route-id="@card.CardID">
                                    <img src="~/images/cards/@card.ArtThumbnailFileName" class="img-responsive" title="@card.CardName" alt="@card.CardName" />
                                </a>
                            </td>
                            @* find better way to make attribute/rarity css classes *@
                            <td class="@card.Attribute.AttributeType.ToLower()"> @card.Attribute.AttributeType</td>
                            <td> @card.CardType.CardTypeValue</td>
                            <td>@card.ManaCost</td>
                            <td>@card.Attack</td>
                            <td>@card.Defense</td>
                            <td>@card.CardDescription</td>
                            <td class="@card.Rarity.RarityType.ToLower()">@card.Rarity.RarityType</td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
}
else
{
    <h2>No deck found</h2>
}


<div class="row">
    <div class="col-md-12">
        <hr />
        <p class="text-center"><a asp-action="Index" asp-controller="Decks">Go back to view all decks</a></p>
    </div>
</div>

