﻿@model List<ElderScrollsLegendsDB.ViewModels.DeckViewModel>

@{
    ViewData["Title"] = "Decks";
}

<div class="row">
    <div class="col-md-12">

        <h2 class="">@ViewData["Title"]</h2>

        <table class="table table-condensed table-bordered table-striped text-center">
            <thead>
                <tr>
                    @*<th class="text-center">@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortByName }) </th>
                    <th class="text-center">@Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.SortByAttributeType })</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Card Count</th>
                    <th class="text-center">@Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.SortByManaCost })</th>
                    <th class="text-center">@Html.ActionLink("Date Last Modified", "Index", new { sortOrder = ViewBag.SortByAttack })</th>*@
                    <th class="text-center">Deck Name</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Card Count</th>
                    <th class="text-center">Date Created</th>
                    <th class="text-center">Date Last Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var deck in Model)
                {
                    //should probably use @Html.Helper for all of these
                    <tr class="text-center">
                        <td><a asp-controller="Decks" asp-action="Details" asp-route-id="@deck.DeckID">@deck.DeckName</a></td>
                        @* find better way to make attribute/rarity css classes *@
                        <td>@deck.User.Username</td>
                        <td>@deck.DeckDescription</td>
                        <td>@deck.CardIDs.Count</td>
                        <td>@deck.DateCreated</td>
                        <td>@deck.DateLastModified</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>



