﻿@model ElderScrollsLegendsDB.Models.User

@{
    ViewData["Title"] = "User Page";
}

@if(Model == null)
{
    <p>Login into or register with ElderScrollsLegends DB</p>
    <p>Username:</p>
    <input type="text" name="username" value="username" />
    <p>Password:</p>
    <input type="password" name="password" value="" />
}
else
{
    <p>Welcome back, @Model.Username </p>
    <p>WIP</p>
}


