﻿@{
    ViewData["Title"] = "Endurance";
}

<h2 class="endurance">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            <blockquote>
                Endurance will overwhelm your enemy with sheer indomitability. It boasts the biggest creatures in Tamriel with everything from relentless hordes of undead to massive giants and trolls. And with strong guards, potent healing actions, and the ability to increase its Magicka, Endurance has the tools to ensure its monsters come out to play.
            </blockquote>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>

    </div>

    <div class="col-md-6">
        <img src="~/images/attributes/endurance.png" class="img-responsive center-block" />
        <img src="~/images/attributes/endurance-preview.jpg" class="img-responsive" />
    </div>
</div>

