﻿@{
    ViewData["Title"] = "Attributes";
}

<h2>@ViewData["Title"]</h2>


@*text from beth press release*@
<div class="row">
    <div class="col-md-12">
        <p>
            Plenty of strategy is involved in making your character selection, or selections. A "choose two" deck-building setup allows you to pick from two of the game’s five attributes – <a href="" class="strength">Strength</a>, <a href="" class="agility">Agility</a>, <a href="" class="intelligence">Intelligence</a>, <a href="" class="endurance">Endurance </a>, and <a href="" class="willpower">Willpower</a>. Each combination of attributes will give your deck a <a href="">special "class"</a> like <a href="">Scout</a> or <a href="">Spellsword</a>, along with many others that you may recognize from other Elder Scrolls games.
        </p>

        <p>
            The avatar you select – whether it’s a High Elf or a Nord – will have no impact on the cards you can play or the types of decks you can build, but your avatar will accelerate your card collection toward cards that fall into its race’s theme. Each of the ten major races of Tamriel is represented in the card set, and each has a distinct mechanical theme. For example, if you’re a Redguard, you’ll more quickly collect weapon cards and creatures that benefit from weapons.
        </p>

        <p>
            If you do find yourself fancying a particular race when it comes to cards, you can start building your decks around that. “If you’re really into Bretons, for example, you’ll find them in the Intelligence and Endurance attributes,” explains Paul Dennen, Creative Director at Dire Wolf Digital. Or maybe you’re a fan of certain types of creatures like goblins and the undead. These can also be found in specific attribute sets. You’ll find goblins only pop up in Agility, while the undead will be in Intelligence and Endurance
        </p>

    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-1">
        @*empty*@
    </div>

    <div class="col-md-2 text-center">
        <a asp-action="Agility" asp-controller="Attributes">
            <h4>Agility</h4>
            <img src="~/images/attributes/agility.png" class="img-responsive center-block" />
        </a>
    </div>
    <div class="col-md-2 text-center">
        <a asp-action="Endurance" asp-controller="Attributes">
            <h4>Endurance</h4>
            <img src="~/images/attributes/endurance.png" class="img-responsive center-block" />
        </a>
    </div>
    <div class="col-md-2 text-center">
        <a asp-action="Intelligence" asp-controller="Attributes">
            <h4>Intelligence</h4>
            <img src="~/images/attributes/intelligence.png" class="img-responsive center-block" />
        </a>
    </div>
    <div class="col-md-2 text-center">
        <a asp-action="Strength" asp-controller="Attributes">
            <h4>Strength</h4>
            <img src="~/images/attributes/strength.png" class="img-responsive center-block" />
        </a>
    </div>
    <div class="col-md-2 text-center">
        <a asp-action="Willpower" asp-controller="Attributes">
            <h4>Willpower</h4>
            <img src="~/images/attributes/willpower.png" class="img-responsive center-block" />
        </a>
    </div>

    <div class="col-md-1">
        @*empty*@
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        @* empty *@
    </div>

    <div class="col-md-2 text-center">
        <a asp-action="Neutral" asp-controller="Attributes">
            <h4>Neutral</h4>
            <img src="~/images/icon.png" class="img-responsive center-block" />
        </a>
    </div>
    <div class="col-md-2 text-center">
        <a asp-action="Dual-Attribute" asp-controller="Attributes">
            <h4>Dual Attribute</h4>
            <img src="~/images/icon.png" class="img-responsive center-block" />
        </a>
    </div>

    <div class="col-md-4">
        @* empty *@
    </div>
</div>

