﻿@{
    ViewData["Title"] = "Intelligence";
}

<h2 class="intelligence">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            <blockquote>
                When you use Intelligence, you rely on trickery and magic to defeat your foes. The physical strength of Intelligence creatures is almost beside the point – you can always cast a spell, equip a weapon, or conjure an Atronach to even the odds. Intelligence actions are ideal for raining destruction on the battlefield and sculpting long-term plans.
            </blockquote>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>

    </div>

    <div class="col-md-6">
        <img src="~/images/attributes/intelligence.png" class="img-responsive center-block" />
        <img src="~/images/attributes/intelligence-preview.jpg" class="img-responsive" />
    </div>
</div>