﻿@{
    ViewData["Title"] = "Strength";
}

<h2 class="strength">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            <blockquote>
                Strength seeks victory through might. You want to attack the enemy head-on, cutting them down before they can use their fancy tricks. Strength actions are ideal for smashing enemies and clearing the way for bruisers.
            </blockquote>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>

    </div>

    <div class="col-md-6">
        <img src="~/images/attributes/strength.png" class="img-responsive center-block" />
        <img src="~/images/attributes/strength-preview.jpg" class="img-responsive" />
    </div>
</div>