﻿@{
    ViewData["Title"] = "Willpower";
}

<h2 class="willpower">@ViewData["Title"]</h2>


<div class="row">
    <div class="col-md-6">
        <p>
            <blockquote>
                When you use Willpower, you rely on unity and force of spirit to overcome your foes. Willpower is adept at amassing large armies, erecting strong defenses, and bolstering its forces with magic. Its actions are the best at destroying enemy creatures or bending them to your will.
            </blockquote>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ante non sapien consectetur imperdiet. Suspendisse potenti. Praesent urna nisl, fermentum quis urna convallis, gravida ullamcorper purus. Sed vitae malesuada libero, ac blandit mi. Vivamus tincidunt mauris eros. Ut vitae aliquam ligula, a ultricies sem. Morbi molestie ante ut felis faucibus, eu sagittis orci pretium. Nulla facilisi. Vivamus mattis arcu lacus, at malesuada erat imperdiet a. Morbi eros metus, accumsan a lacinia ac, pulvinar ut arcu. Donec id mauris magna.
        </p>

    </div>

    <div class="col-md-6">
        <img src="~/images/attributes/willpower.png" class="img-responsive center-block" />
        <img src="~/images/attributes/willpower-preview.jpg" class="img-responsive" />
    </div>
</div>