﻿@model ElderScrollsLegendsDB.Models.Card

@{
    ViewData["Title"] = Model.CardName + " Deleted";
}

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Card Deleted</h2>
            <h4>@Model.CardName was successfully deleted.</h4>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <hr />
        <p class="text-center"><a asp-action="Index" asp-controller="Cards">Go back to view all cards</a></p>
    </div>
</div>
