﻿@model ElderScrollsLegendsDB.Models.Card

@{ 
    ViewData["Title"] = Model.CardName;
}

@if (Model != null)
{
    @*@Model.CardName*@
    <h2>@Html.DisplayFor(card => card.CardName)</h2>

    <h4><a asp-action="Edit" asp-controller="Cards" asp-route-id="@Model.CardID">Edit @Model.CardName</a></h4>
    <h4><a asp-action="Delete" asp-controller="Cards" asp-route-id="@Model.CardID">Delete @Model.CardName</a></h4>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <table class="table table-responsive table-bordered table-condensed table-striped">
                <tr>
                    <td class="text-muted text-right"><strong>Attribute</strong></td>
                    <td class="@Model.Attribute.AttributeType.ToLower()">
                        <strong>@Html.DisplayFor(card => card.Attribute.AttributeType)</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><strong>Card Type</strong></td>
                    <td>@Html.DisplayFor(card => card.CardType.CardTypeValue)</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><strong>Description</strong></td>
                    <td>@Html.DisplayFor(card => card.CardDescription)</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><strong>Manacost</strong></td>
                    <td>@Html.DisplayFor(card => card.ManaCost)</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><strong>Attack</strong></td>
                    <td>@Html.DisplayFor(card => card.Attack)</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><strong>Defense</strong></td>
                    <td>@Html.DisplayFor(card => card.Defense)</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><strong>Flavor/Lore Text</strong></td>
                    <td>@Html.DisplayFor(card => card.FlavorLoreText)</td>
                </tr>
                <tr>
                    <td class="text-muted text-right"><strong>Rarity</strong></td>
                    <td class="@Model.Rarity.RarityType.ToLower()">
                        @Html.DisplayFor(card => card.Rarity.RarityType)
                    </td>
                </tr>

            </table>

        </div>

        <div class="col-md-6">
            <a href="~/images/cards/@Model.ArtFullResFileName"><img src="~/images/cards/@Model.ArtFullResFileName" title="@Model.CardName" alt="@Model.CardName" class="img-responsive" /></a>
        </div>
    </div>

}
else
{

    <h2>No card selected.</h2>

}


<div class="row">
    <div class="col-md-12">
        <hr />
        <p class="text-center"><a asp-action="Index" asp-controller="Cards">Go back to view all cards</a></p>
    </div>
</div>


