﻿@model ElderScrollsLegendsDB.ViewModels.CardViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit a Card</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CardID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CardID" class="form-control" />
                <span asp-validation-for="CardID" class="text-danger" contenteditable="false" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CardName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CardTypes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CardTypeID" asp-items="@(new SelectList(Model.CardTypes, "CardTypeID", "CardTypeValue"))" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CardDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CardDescription" class="form-control" />
                <span asp-validation-for="CardDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AttributeTypes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AttributeID" asp-items="@(new SelectList(Model.AttributeTypes, "AttributeID", "AttributeType"))" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ManaCost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ManaCost" class="form-control" />
                <span asp-validation-for="ManaCost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Attack" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Attack" class="form-control" />
                <span asp-validation-for="Attack" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Defense" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Defense" class="form-control" />
                <span asp-validation-for="Defense" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RarityTypes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RarityID" asp-items="@(new SelectList(Model.RarityTypes, "RarityID", "RarityType"))" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
