﻿@model List<ElderScrollsLegendsDB.Models.Card>

@{
    ViewData["Title"] = "Cards";
}

@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script>
        var cards = @Html.Raw(Json.Serialize(Model));

        //console.log(cards);

        var app = angular.module("CardsApp", []);

        app.controller("CardsController", function ($scope) {

            //defaults?
            $scope.sortType = "CardName";
            $scope.sortReverse = false;
            $scope.searchCards = ""; // for filter later

            $scope.cards = cards;

        });
    </script>


    <div class="row" ng-app="CardsApp" ng-controller="CardsController">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

                        <input type="text" class="form-control" placeholder="Search for a Card" ng-model="searchCards">

                    </div>
                </div>
            </form>

            <table class="table table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-click="sortType='CardName';sortReverse = !sortReverse;">
                            Name
                            <span ng-show="sortType == 'CardName' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                            <span ng-show="sortType == 'CardName' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                        </th>
                        <th>Image</th>
                        <th ng-click="sortType='Attribute.AttributeType';sortReverse = !sortReverse;">
                            Attribute Type
                            <span ng-show="sortType == 'Attribute.AttributeType' && sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                            <span ng-show="sortType == 'Attribute.AttributeType' && !sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                        </th>
                        <th >Description</th>
                        <th >Manacost</th>
                        <th >Attack</th>
                        <th >Defense</th>
                    </tr>
                </thead>
                <tbody>
                                                !<-- added card name here-->
                    <tr ng-repeat="card in cards | orderBy:'CardName':sortType:sortReverse | filter:searchCards ">
                        <td><a href="Cards/Details/{{card.CardID}}">{{card.CardName}}</a></td>
                        <td><a href="Cards/Details/{{card.CardID}}">
                            <img src="~/images/cards/{{card.ArtThumbnailFileName}}" /></a>
                        </td>
                        <td>{{card.Attribute.AttributeType}}</td>
                        <td>{{card.CardDescription}}</td>
                        <td>{{card.ManaCost}}</td>
                        <td>{{card.Attack}}</td>
                        <td>{{card.Defense}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@


@section scripts {
    <script type="text/javascript">

        //hide and unhide the pure list view or the pure image view
        function showCardsAsList() {
            $("#cardsImages").hide();
            $("#btnShowCardsAsList").removeClass("btn-default").addClass("btn-success");
            $("#cardsList").show();
            $("#btnShowCardsAsImages").removeClass("btn-success").addClass("btn-default");
        }

        //for initial page load
        showCardsAsList();

        function showCardsAsImages() {
            $("#cardsImages").show();
            $("#btnShowCardsAsImages").removeClass("btn-default").addClass("btn-success");
            $("#cardsList").hide();
            $("#btnShowCardsAsList").removeClass("btn-success").addClass("btn-default");
        }
    </script>
}


<h2>@ViewData["Title"] <span class="text-muted">@Model.Count cards Total</span></h2>

<div class="row">
    <div class="col-md-12">
        
        @*for debugging/creating cards/or for an Admin in the future to add cards to the database*@ 
        <h3><a asp-action="Create" asp-controller="Cards">Add a new card</a></h3>

        <div class="pull-right">
            <button id="btnShowCardsAsList" class="btn btn-default" onclick="showCardsAsList()">Show Cards as List</button>

            <button id="btnShowCardsAsImages" class="btn btn-default" onclick="showCardsAsImages()">Show Cards as Images</button>
        </div>

        <div class="clearfix"></div>

        @*dont really need this since its a GET request: asp-antiforgery="true"*@
        <form asp-action="Index" asp-controller="Cards" method="get">
            <p>
                Find by card by name: @Html.TextBox("searchQuery")
                <input class="btn btn-default" type="submit" value="Search" />
            </p>
        </form>

        <hr />

    </div>
</div>


<div id="cardsList" class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-responsive table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center">@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortByName }) </th>
                    <th class="text-center">Image</th>
                    <th class="text-center">@Html.ActionLink("Attribute Type", "Index", new { sortOrder = ViewBag.SortByAttributeType })</th>
                    <th class="text-center">@Html.ActionLink("Card Type", "Index", new { sortOrder = ViewBag.SortByCardType })</th>
                    <th class="text-center">@Html.ActionLink("Mana Cost", "Index", new { sortOrder = ViewBag.SortByManaCost })</th>
                    <th class="text-center">@Html.ActionLink("Attack", "Index", new { sortOrder = ViewBag.SortByAttack })</th>
                    <th class="text-center">@Html.ActionLink("Defense", "Index", new { sortOrder = ViewBag.SortByDefense })</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">@Html.ActionLink("Rarity", "Index", new { sortOrder = ViewBag.SortByRarityType })</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var card in Model)
                {
                    <tr class="text-center verticalAlignFix">
                        <td><a asp-controller="Cards" asp-action="Details" asp-route-id="@card.CardID">@Html.DisplayFor(modelItem => card.CardName)</a></td>
                        <td>
                            <a asp-controller="Cards" asp-action="Details" asp-route-id="@card.CardID">
                                <img src="~/images/cards/@card.ArtThumbnailFileName" class="img-responsive" title="@Html.DisplayFor(modelItem => card.CardName)" alt="@Html.DisplayFor(modelItem => card.CardName)" />
                            </a>
                        </td>
                        @* find better way to make attribute/rarity css classes *@
                        <td class="@card.Attribute.AttributeType.ToLower()">
                            @Html.DisplayFor(modelItem => card.Attribute.AttributeType)
                        </td>
                        <td>@Html.DisplayFor(modelItem => card.CardType.CardTypeValue)</td>
                        <td>@Html.DisplayFor(modelItem => card.ManaCost)</td>
                        <td>@Html.DisplayFor(modelItem => card.Attack)</td>
                        <td>@Html.DisplayFor(modelItem => card.Defense)</td>
                        <td>@Html.DisplayFor(modelItem => card.CardDescription)</td>
                        <td class="@card.Rarity.RarityType.ToLower()">
                            @Html.DisplayFor(modelItem => card.Rarity.RarityType)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div id="cardsImages" class="row">
    <div class="col-md-12">

        @foreach (var card in Model)
        {
            <div style="margin:15px 10px; float:left; width:160px;">
                <a asp-action="Details" asp-controller="Cards" asp-route-id="@card.CardID">
                    <img src="~/images/cards/@card.ArtFullResFileName" alt="@Html.DisplayFor(modelItem => card.CardName) - @Html.DisplayFor(modelItem => card.CardDescription)" title="@Html.DisplayFor(modelItem => card.CardName) - @Html.DisplayFor(modelItem => card.CardDescription)" class="center-block" height="200" width="140" />
                    <p class="text-center">@Html.DisplayFor(modelItem => card.CardName)</p>
                </a>
            </div>
        }
    </div>
</div>

