﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ElderScrollsLegendsDB</title>

        <link rel="icon" type="image/png" href="~/images/icon_thumb.png">

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

        @*@RenderSection("head", required: false)*@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">ElderScrollsLegendsDB</a>
                </div>
                @* for submenu https://github.com/vsn4ik/bootstrap-submenu *@
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="View Game information - Attributes, Classes, Races">Game Information <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Attributes" asp-action="Index">Attributes</a></li>
                                <li><a asp-controller="Classes" asp-action="Index">Classes</a></li>
                                <li><a asp-controller="Races" asp-action="Index">Races</a></li>
                            </ul>
                        </li>

                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="View Attribute information">Attributes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Attributes" asp-action="Index">Attributes</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a asp-controller="Attributes" asp-action="Agility">Agility</a></li>
                                <li><a asp-controller="Attributes" asp-action="Endurance">Endurance</a></li>
                                <li><a asp-controller="Attributes" asp-action="Intelligence">Intelligence</a></li>
                                <li><a asp-controller="Attributes" asp-action="Strength">Strength</a></li>
                                <li><a asp-controller="Attributes" asp-action="Willpower">Willpower</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="View Race information">Races <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Races" asp-action="Index">Races</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a asp-controller="Races" asp-action="Argonian">Argonian</a></li>
                                <li><a asp-controller="Races" asp-action="Breton">Breton</a></li>
                                <li><a asp-controller="Races" asp-action="Dark-Elf">Dark Elf</a></li>
                                <li><a asp-controller="Races" asp-action="High-Elf">High Elf</a></li>
                                <li><a asp-controller="Races" asp-action="Imperial">Imperial</a></li>
                                <li><a asp-controller="Races" asp-action="Khajiit">Khajiit</a></li>
                                <li><a asp-controller="Races" asp-action="Nord">Nord</a></li>
                                <li><a asp-controller="Races" asp-action="Orc">Orc</a></li>
                                <li><a asp-controller="Races" asp-action="Redguard">Redguard</a></li>
                                <li><a asp-controller="Races" asp-action="Wood-Elf">Wood Elf</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="View Class information">Classes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Classes" asp-action="Index">Classes</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a asp-controller="Classes" asp-action="Archer">Archer</a></li>
                                <li><a asp-controller="Classes" asp-action="Assassin">Assassin</a></li>
                                <li><a asp-controller="Classes" asp-action="Battlemage">Battlemage</a></li>
                                <li><a asp-controller="Classes" asp-action="Crusader">Crusader</a></li>
                                <li><a asp-controller="Classes" asp-action="Mage">Mage</a></li>
                                <li><a asp-controller="Classes" asp-action="Monk">Monk</a></li>
                                <li><a asp-controller="Classes" asp-action="Scout">Scout</a></li>
                                <li><a asp-controller="Classes" asp-action="Spellsword">Spellsword</a></li>
                                <li><a asp-controller="Classes" asp-action="Warrior">Warrior</a></li>
                            </ul>
                        </li>*@

                        <li><a asp-controller="Cards" asp-action="Index" title="View and search for cards">Cards</a></li>
                        <li><a asp-controller="Decks" asp-action="Index" title="View decks created by users">Decks</a></li>
                        @*<li><a asp-controller="Decks" asp-action="Index" title="Build a deck">Build a Deck</a></li>*@
                        <li><a asp-controller="Guides" asp-action="Index" title="Guides and Tutorials">Guides</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="Home" asp-action="About">About/FAQ</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container body-content" style="min-height:720px;">
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="container text-center">
                <p></p>
                <p>&copy; 2017 - ElderScrollsLegendsDB</p>
                <p><a asp-controller="Home" asp-action="About">About/FAQ</a></p>
                <p><a asp-controller="Home" asp-action="Contact">Contact</a></p>
            </div>
        </footer>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
