﻿@{
    ViewData["Title"] = "Resource or Page not Found";
}

@* custom not found page? is this needed or is there a built in one via some ActionResult return? *@

<div class="row">
    <div class="col-md-12">

        <h1 class="text-danger text-center">@ViewData["Title"]</h1>
        <h2 class="text-danger text-center">404</h2>
        <h3 class="text-danger text-center">The page you requested was not found.</h3>

    </div>
</div>
