﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
       @* <div class="bannerAdExample"></div>*@
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
        <h1>Elder Scrolls: Legends DB (PROTOTYPE)</h1>
        
        @*<p style="color:darkred;"><strong>Many things are left not implemented fully - like User registration (would use ASP.NET Identity for this), deck building, and more Card info details. This was a project for me to learn ASP MVC 6 on my own, and was planned to be released as a wiki for the game. However, I'm abandoning development since I'm not too interested in card game, after playing after a dozen hours.</strong></p>*@

        <p>
            This is a wiki-like site dedicated to information about the card game <a href="https://legends.bethesda.net/" target="_blank">Elder Scrolls: Legends <sup>&reg;</sup></a> developed by Zenimax and Bethesda. For those familiar with Blizzard's HearthStone game, you will find Elder Scrolls: Legends to be very similar.
        </p>

        <p>
            The Elder Scrolls: Legends is a free-to-play strategy card game with no cost to download and play. However, there are <a asp-action="Card-Packs" asp-controller="Guides">Card packs</a> and <a asp-action="Arena-Tickets" asp-controller="Guides">Arena tickets</a> available to purchase in game.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
        <h4 class="text-center"><strong><u>Basic Game Information</u></strong></h4>
    </div>

    <div class="col-md-4">
        <img class="img-thumbnail img-circle center-block homePageThumbnail" src="~/images/attributes/intelligence.png" alt="Attributes" />
        <h4 class="text-center"><a asp-action="Index" asp-controller="Attributes">Attributes</a></h4>
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail img-circle center-block homePageThumbnail" src="~/images/classes/battlemage.jpg" alt="Classes" />
        <h4 class="text-center"><a asp-action="Index" asp-controller="Classes">Classes</a></h4>
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail img-circle center-block homePageThumbnail" src="~/images/races/nord.jpg" alt="Races" />
        <h4 class="text-center"><a asp-action="Index" asp-controller="Races">Races</a></h4>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <hr />
        <h4 class="text-center"><strong><u>Cards, Decks, and Strategies/Guides</u></strong></h4>
    </div>

    <div class="col-md-4">
        <img class="img-thumbnail img-circle center-block homePageThumbnail" src="~/images/cards/Firebolt.jpg" alt="Cards" />
        <h4 class="text-center"><a asp-action="Index" asp-controller="Cards">Cards</a></h4>
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail img-circle center-block homePageThumbnail" src="~/images/cards/Nord-Firebrand.jpg" alt="Decks" />
        <h4 class="text-center"><a asp-action="Index" asp-controller="Decks">Decks</a></h4>
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail img-circle center-block homePageThumbnail" src="~/images/misc/races_Gold.png" alt="Guides/Tutorials" />
        <h4 class="text-center"><a asp-action="Index" asp-controller="Guides">Guides/Tutorials</a></h4>
    </div>
</div>

