﻿/* Custom Site Styles - can overwite bootstrap styles here */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #bbbbbb;
    margin-bottom: 100px;
}

/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 100px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* remove bootstrap 3 border radius controls on forms */
.form-control,
.btn {
    border-radius: 0px;
}

.navbar {
    margin-bottom:0px;
}
.navbar-inverse {
    background-color: #444444;
    border-bottom: 4px solid gold;
}
.navbar-inverse .navbar-brand {
    color: goldenrod;
}

/* color for on hover for navbar links */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: lightgoldenrodyellow;
}


/* Attribute Styles */
.agility,
.agility a {
    color: forestgreen;
}
.endurance,
.endurance a {
    color: rebeccapurple;
}
.intelligence,
.intelligence a {
    color: dodgerblue;
}
.strength,
.strength a {
    color: darkred;
}
.willpower,
.willpower a {
    color: gold;
}


/* Rarity styles*/
.common {
    color: gray;
}
.uncommon {
    color: deepskyblue;
}
.rare {
    color: mediumpurple;
}
.legendary {
    color: gold;
}



/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 3px solid #333333;
}

/* hacky important! override - investigate later */
.verticalAlignFix td {
    vertical-align: middle !important;
}

.bannerAdExample {
    margin-top: 10px;
    height:180px;
    display:block;
    background-color: #eee;
}


.homePageThumbnail {
    width: 100px;
    height: 100px;
}


